/* General */

body {
    background: url('/img/gplaypattern.png');
}

.tablesorter-pager .btn-group-sm .btn {
    font-size: 1.2rem;
}

.jumbotron {
    background-color: #1a1a1a;
}

.container-fluid {
    max-width: 2048px;
}

.table {
    background-color: white;
}

#testplays {
    background-color: transparent;
}

.table thead th {
    white-space: nowrap;
}

.table thead th,
.table tbody td {
    vertical-align: middle;
    text-align: center;
}

th .fas,
.card-text .fas {
    margin-right: 7px;
}

h4 .fas {
    margin-right: 10px;
}

.width-index {
    width: 52px;
}

.width-image {
    width: 65px;
}

#songs th:nth-child(4) {
    width: 500px;
}

.table th .fas + .fas {
    margin-left: 7px;
}

.fas {
    display: inline;
}

#songs td:nth-child(3),
#mappers td:nth-child(4) {
    font-weight: bold;
}

#songs td:nth-child(14),
#songs td:nth-child(18),
#mappers td:nth-child(15),
td:nth-child(16),
#mappers td:nth-child(19) {
    white-space: nowrap;
}

#mappers td:nth-child(13) .badge,
#mappers td:nth-child(20) .badge {
    padding: .4em;
}

#mappers td:nth-child(13) .badge {
    width: 55px;
}

#mappers td:nth-child(20) .badge {
    width: 85px;
}

#mappers td:nth-child(13) .badge::after,
#mappers td:nth-child(20) .badge::after,
#mappers td:nth-child(20) .badge::before,
.external::after {
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-size: 0.8rem;
}

#mappers td:nth-child(13) .badge::after,
#mappers td:nth-child(20) .badge::after {
    padding-left: 8px;
}

#mappers td:nth-child(20) .badge::before {
    content: '\f5fd';
    padding-right: 8px;
}

#mappers td:nth-child(13) .badge::after {
    content: '\f0c9';
}

#mappers td:nth-child(20) .badge::after {
    content: '\f019';
}

.external::after {
    content: '\f35d';
    font-weight: 900;
    padding-left: 4px;
}

.external:hover {
    text-decoration: none;
}

#songs td:nth-child(15) a,
#songs td:nth-child(16) a,
#mappers td:nth-child(19) a {
    display: inline-block;
    border-radius: 5px;
    opacity: .8;
    vertical-align: middle;
}

#songs td:nth-child(15) a:hover,
#songs td:nth-child(16) a:hover,
#mappers td:nth-child(19) a:hover {
    opacity: 1;
}

.badge {
    font-size: 100%;
}

.badge-light {
    background-color: rgba(0, 0, 0, .035);
    border: 1px solid rgba(0, 0, 0, .075);
}

ul {
    padding-left: 1.25rem;
}

.text-total {
    font-size: 1.5rem;
}

.spinner-border-sm {
    width: .8rem;
    height: .8rem;
    vertical-align: middle;
    margin-top: -2px;
}

/* Card column / TestPlays */

#testplays .card-header > .counter {
    float: left;
    padding: 0 .7rem;
    border: 1px solid rgba(0, 0, 0, .125);
    height: 32px;
    line-height: 1.8rem;
    border-radius: .4rem;
}

#testplays .card-footer {
    font-weight: 500;
}

#testplays .card-body {
    padding: 1rem;
}

#testplays .avatar,
#testplays .avatar + .text {
    vertical-align: middle;
}

#testplays .avatar {
    margin-left: -42px;
    padding-right: 10px;
}

#testplays .avatar + .text {
    font-weight: bold;
    font-size: 1.2rem;
}

#testplays .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

#testplays .tablesorter-filter-row {
    display: flex;
}

#testplays .tablesorter-filter-row td {
    flex: 1 1 25%;
    width: 25%;
    margin-bottom: 0;
    padding: 0.5rem;
}

#testplays td {
    padding: 0;
    display: block;
}

/* Card */

.card-deck .card:last-child {
    margin-bottom: 0;
}

.card-header {
    padding: .75rem;
}

.card-text {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-text strong,
.card-text i {
    margin-left: 7px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-body li + li {
    margin-top: 0.5rem;
}

.card-footer {
    padding: .5rem .7rem;
}

.discord {
    white-space: nowrap;
}

.discord i {
    display: inline-block;
    vertical-align: middle;
    border-radius: 32px;
    margin-right: 6px;
}

.discord strong {
    margin-left: 0;
}

/* Popover */

.popover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    font-size: 1rem;
    max-width: 400px;
}

.tooltip {
    font-size: 1rem;
}

.popover ol {
    padding-left: 1.5rem;
    margin-bottom: 0;
}

.popover-header {
    font-size: 1.1rem;
    text-align: center;
}

/* TableSorter */
.tablesorter-bootstrap:not(.table-dark) > tbody > tr:hover > td {
    background-color: rgba(0, 0, 0, .001) !important;
}

.tablesorter-bootstrap thead th,
.tablesorter-bootstrap tfoot th {
    font-size: inherit;
    line-height: inherit;
    font-weight: bold;
    font-family: inherit;
    padding: inherit;
}

.tablesorter-bootstrap .tablesorter-header-inner {
    padding-right: 20px;
}

.form-inline {
    margin-left: .5rem;
}

.form-inline .custom-select,
.form-inline .input-group {
    width: auto;
}

.form-control {
    padding: .375rem;
}

.tablesorter-bootstrap .tablesorter-filter-row .tablesorter-filter.disabled {
    cursor: inherit;
}

/* ScoreSaber */

.expertplus {
    color: #8f48db;
}

.expert {
    color: #bf2a42;
}

.easy {
    color: #3cb371;
}

.hard {
    color: #ff6347;
}

.normal {
    color: #59b0f4;
}

/* Sprite */

.bg-stargazer {
    width: 32px;
    height: 32px;
    background: url('/img/sprite.png') -2px -2px;
}

.bg-bsaber {
    width: 32px;
    height: 32px;
    background: url('/img/sprite.png') -38px -2px;
}

.bg-sabersongs {
    width: 32px;
    height: 32px;
    background: url('/img/sprite.png') -2px -38px;
}

.bg-beatsaver {
    width: 32px;
    height: 32px;
    background: url('/img/sprite.png') -38px -38px;
}

.bg-rorekk {
    width: 32px;
    height: 32px;
    background: url('/img/sprite.png') -74px -2px;
}

.bg-ikeiwa {
    width: 32px;
    height: 32px;
    background: url('/img/sprite.png') -74px -38px;
}

.bg-zeekin {
    width: 32px;
    height: 32px;
    background: url('/img/sprite.png') -2px -74px;
}

.bg-pbrick {
    width: 32px;
    height: 32px;
    background: url('/img/sprite.png') -38px -74px;
}

.bg-kyle {
    width: 32px;
    height: 32px;
    background: url('/img/sprite.png') -74px -74px;
}

.bg-assistant {
    width: 32px;
    height: 32px;
    background: url('/img/sprite.png') -110px -2px;
}

.bg-elliotttate {
    width: 32px;
    height: 32px;
    background: url('/img/sprite.png') -110px -38px;
}

.bg-skueaks {
    width: 32px;
    height: 32px;
    background: url('/img/sprite.png') -110px -74px;
}

.bg-n3tman {
    width: 32px;
    height: 32px;
    background: url('/img/sprite.png') -2px -110px;
}

.bg-balsa {
    width: 32px;
    height: 32px;
    background: url('/img/sprite.png') -38px -110px;
}

.bg-xyonico {
    width: 32px;
    height: 32px;
    background: url('/img/sprite.png') -74px -110px;
}

.bg-andruzz {
    width: 32px;
    height: 32px;
    background: url('/img/sprite.png') -110px -110px;
}

.bg-scoresaber {
    width: 32px;
    height: 31px;
    background: url('/img/sprite.png') -146px -2px;
}

@media (min-width: 576px) {
    .card-deck {
        flex-flow: column nowrap;
    }

    .card-deck,
    .card-deck .card {
        margin-left: 0;
        margin-right: 0;
    }

    .card-deck .card {
        margin-bottom: 15px;
    }
}

@media (min-width: 800px) {
    #testplays .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card.global {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .card-deck {
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .card-deck .card {
        flex: 1 0 0;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px;
    }
}

@media (min-width: 1100px) {
    .form-inline {
        justify-content: center;
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    #testplays .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 1600px) {
    #testplays .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}